html {
    background-color: #ffffff;
}
body{
    color: #ffffff;
}

/*
header {
    width: 100%;
    min-width: 1300px;
    height:200px;
    overflow:hidden;
}
*/
/* this is the header */
div.inBox {
    background: url(pages.jpg);
    border: 1px solid #331a00;
    width: 100%;
}

div.theBox {
    margin: 40px;
    background-color: #ffffff;
    border: 1px solid #331a00;
    opacity: 0.85;
}

#nihon {
    font-size: 65px;
    /*float: right;*/
    margin-left: 10px;
    margin-right: 10px;
    color: #331a00
}
#kanji {
    display: inline-block;
    line-height: 30%;
    color:#331a00;
    font-family: georgia;
}
#namet{
    font-family: georgia;
    font-size:26px;
}

#defi {
    display: inline-block;
    color: #331a00;
}

#ipa {
    line-height: 0%;
    font-family: courier;
    color: #331a00;
}

#subtitle {
    font-family: Georgia;
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #ffffff;
    opacity: 0.85;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
}

li {
    float: left;
}

li a{
    display: block;
    color: #331a00;
    text-align:center;
    padding: 10px 20px;
    text-decoration: none;
    font-family: courier;
}


.bcover{
    width: 300px;
    height: auto;
    padding-top: 10px;
    padding-left: 40px;
}
aside {
    float: left;
    max-width: 350px;
}
.btitle {
    font-family: georgia;
    color: #331a00;
}
article {
    margin-left: 420px;
}
.texty {
    font-family: courier;
    color: #331a00;
    text-align: justify;
    width: 70%;
    display: inline-block;
}


