html {
    background-color: #ffffff;
}
body{
    color: #ffffff;
}

/*
header {
    width: 100%;
    min-width: 1300px;
    height:200px;
    overflow:hidden;
}
*/
/* this is the header */
div.inBox {
    background: url(pages.jpg);
    border: 1px solid #331a00;
    width: 100%;
}

div.theBox {
    margin: 40px;
    background-color: #ffffff;
    border: 1px solid #331a00;
    opacity: 0.85;
}

#nihon {
    font-size: 65px;
    /*float: right;*/
    margin-left: 10px;
    margin-right: 10px;
    color: #331a00
}
#kanji {
    display: inline-block;
    line-height: 30%;
    color:#331a00;
    font-family: georgia;
}
#namet{
    font-family: georgia;
    font-size:26px;
}

#defi {
    display: inline-block;
    color: #331a00;
}

#ipa {
    line-height: 0%;
    font-family: courier;
    color: #331a00;
}

#subtitle {
    font-family: Georgia;
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #ffffff;
    opacity: 0.85;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
}

li {
    float: left;
}

li a{
    display: block;
    color: #331a00;
    text-align:center;
    padding: 10px 20px;
    text-decoration: none;
    font-family: courier;
}
/*under the title and above the menu*/
#ameribut {
    color: #000000;
    font-family: courier;
    cursor: pointer;
}
#britbut {
    color: #000000;
    font-family: courier;
    cursor: pointer;
}

#clasbut {
    color: #000000;
    font-family: courier;
    cursor: pointer;
}

#fanbut {
    color: #000000;
    font-family: courier;
    cursor: pointer;
}
#frenbut {
    color: #000000;
    font-family: courier;
    cursor: pointer;
}
#hisbut {
    color: #000000;
    font-family: courier;
    cursor: pointer;
}
#japanbut {
    color: #000000;
    font-family: courier;
    cursor: pointer;
}
#magbut {
    color: #000000;
    font-family: courier;
    cursor: pointer;
}
#modbut {
    color: #000000;
    font-family: courier;
    cursor: pointer;
}
#rusbut {
    color: #000000;
    font-family: courier;
    cursor: pointer;
}

#scibut {
    color: #000000;
    font-family: courier;
    cursor: pointer;
}

#switch {
    color: #000000;
    font-family: courier;
    margin-left: 100px;
}

a {
    color: #994d00;
    text-decoration: none;
}

.covered {
    height: 450px;
    width: auto;
}

#rando {
    float: left;
    max-width: 200px;
    padding: 40px;
    vertical-align: top;
}

.reccy{
    color: #994d00;
}

.lordofpain  {
    border-left: 1px black;
    padding:1em;
    overflow: hidden;
    margin-left: 250px;
}

.blink {
    font-family: Georgia;
    font-size: 22px;
}