html {
    background-color: #ffffff;
}
body{
    color: #ffffff;
}

/*
header {
    width: 100%;
    min-width: 1300px;
    height:200px;
    overflow:hidden;
}
*/
/* this is the header */
div.inBox {
    background: url(pages.jpg);
    border: 1px solid #331a00;
    width: 100%;
}

div.theBox {
    margin: 40px;
    background-color: #ffffff;
    border: 1px solid #331a00;
    opacity: 0.85;
}

#nihon {
    font-size: 65px;
    /*float: right;*/
    margin-left: 10px;
    margin-right: 10px;
    color: #331a00
}
#kanji {
    display: inline-block;
    line-height: 30%;
    color:#331a00;
    font-family: georgia;
}
#namet{
    font-family: georgia;
    font-size:26px;
}

#defi {
    display: inline-block;
    color: #331a00;
}

#ipa {
    line-height: 0%;
    font-family: courier;
    color: #331a00;
}

#subtitle {
    font-family: Georgia;
    text-align: center;
}
/* here is the menu bar*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #ffffff;
    opacity: 0.85;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
}

li {
    float: left;
}

li a{
    display: block;
    color: #331a00;
    text-align:center;
    padding: 10px 20px;
    text-decoration: none;
    font-family: courier;
}

.homey {
    color: #994d00;
}

/* this is all unused or changed
#logo {
    border-radius: 50%;
    background-color: #ffcc00;
    color: #331a00;
    height:300px;
    width: 300px;
    margin-left: -50px;
    margin-top: -60px;
    text-align: center;
    display: inline-block;
}

#name {
    color: #331a00;
    font-size: 64px;
    vertical-align: middle;
    padding-top: 110px;
}

#engban {
    background-color: #331a00;
    height:170px;
    vertical-align: middle;
    display:inline-block;
    text-align: left;
    width: auto;
    overflow: hidden;
}

#eng {
    color: #ffffff;
    font-size: 42px;
    padding-left: 20px;
    font-family: georgia;
    text-align: left;
    clear:right;
}
#def {
    color: #ffffff;
    font-size: 16px;
    padding-left: 20px;
    font-family: courier;
    text-align: left;
    line-height: 10%;
    clear: right;
}

#corner  {
    height: 200px;
    width: auto;
    clip-path: polygon(50% 0,100% 0, 100% 100%, 0% 100%);
    float:right;
    position: relative;
}
*/

/*this is to set up the page edge on the navigation section*/
nav {
    width: 100%;
    min-width: 800px;
    background-image: url("pageside.jpg");
    border-width: 3px 1px 3px 0px;
    background-position-x: right;
    background-position-y: top;
    border-color: #2a2a2b;
    border-style: solid;
}
/*The Master of Go by Yasunari Kawabata*/
#gokawaban {
    height: 200px;
    width: 95%;
    background-color: #f2f2f2;
    color: #000000;
    border-width: 3px 3px 3px 1px;
    border-color: #464647;
    border-style: solid;
    border-radius: 2px;
    font-size: 23px;
}

#gokawaPic {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
    height: 100%;
    width: auto;
    float: right;
    position: relative;
}

#ykGokawatitle {
    display: inline-block;
    font-family: georgia;
    vertical-align: top;
    text-align: left;
    padding-left: 120px;
}
/*Hyperion by Dan Simmons*/
#shrikeban {
    height: 200px;
    width: 93%;
    background-color: #f2f2f2;
    color: #994d00;
    border-width: 3px 3px 3px 1px;
    border-color: #464647;
    border-style: solid;
    border-radius: 2px;
    font-size: 23px;
}
#shrikePic {
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
    height: 100%;
    width: auto;
}

#dsShriketitle {
    display: inline-block;
    font-family: georgia;
    vertical-align: top;
}
/*Damned by Chuck Palahniuk*/
#damnban {
    height: 200px;
    width: 96%;
    background-color: #f2f2f2;
    color: #4d0026;
    border-width: 3px 3px 3px 1px;
    border-color: #464647;
    border-style: solid;
    border-radius: 2px;
    font-size: 23px;
}

#damnPic {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
    height: 100%;
    width: auto;
    float: right;
    position: relative;
}

#cpDamntitle {
    display: inline-block;
    font-family: georgia;
    vertical-align: top;
    text-align: left;
    padding-left: 120px;
}
/*Midnight's Children by Salman Rushdie*/
#midnightban {
    height: 200px;
    width: 97%;
    background-color: #f2f2f2;
    color: #404040;
    border-width: 3px 3px 3px 1px;
    border-color: #464647;
    border-style: solid;
    border-radius: 2px;
    font-size: 23px;
    cursor: pointer;
}
#midnightPic {
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
    height: 100%;
    width: auto;
}

#srMidnighttitle {
    display: inline-block;
    font-family: georgia;
    vertical-align: top;
}
/*A Study In Scarlet by Sir Arthur Conan Doyle*/
#scarletban {
    height: 200px;
    width: 96%;
    background-color: #f2f2f2;
    color: #800000;
    border-width: 3px 3px 3px 1px;
    border-color: #464647;
    border-style: solid;
    border-radius: 2px;
    font-size: 23px;
}

#scarletPic {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
    height: 100%;
    width: auto;
    float: right;
    position: relative;
}

#sacdScarlettitle {
    display: inline-block;
    font-family: georgia;
    vertical-align: top;
    text-align: left;
    padding-left: 120px;
}
/*A Canticle For Leibowitz by Walter Miller Jr*/
#leibban {
    height: 200px;
    width: 93%;
    background-color: #f2f2f2;
    color: #331a00;
    border-width: 3px 3px 3px 1px;
    border-color: #464647;
    border-style: solid;
    border-radius: 2px;
    font-size: 23px;
}
#leibPic {
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
    height: 100%;
    width: auto;
}

#wmmjLeibtitle {
    display: inline-block;
    font-family: georgia;
    vertical-align: top;
}
/*All The Pretty Horses by Cormac McCarthy*/
#horsesban {
    height: 200px;
    width: 95%;
    background-color: #f2f2f2;
    color: #006666;
    border-width: 3px 3px 3px 1px;
    border-color: #464647;
    border-style: solid;
    border-radius: 2px;
    font-size: 23px;
}

#horsesPic {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
    height: 100%;
    width: auto;
    float: right;
    position: relative;
}

#cmHorsestitle {
    display: inline-block;
    font-family: georgia;
    vertical-align: top;
    text-align: left;
    padding-left: 120px;
}
/*Do Androids Dream of Electric sheep by Philip K Dick*/
#sheepban {
    height: 200px;
    width: 93%;
    background-color: #f2f2f2;
    color: #006600;
    border-width: 3px 3px 3px 1px;
    border-color: #464647;
    border-style: solid;
    border-radius: 2px;
    font-size: 23px;
}
#sheepPic {
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
    height: 100%;
    width: auto;
}

#pkdSheeptitle {
    display: inline-block;
    font-family: georgia;
    vertical-align: top;
}
/*Dune by Frank Herbert*/
#duneban {
    height: 200px;
    width: 95%;
    background-color: #f2f2f2;
    color: #996633;
    border-width: 3px 3px 3px 1px;
    border-color: #464647;
    border-style: solid;
    border-radius: 2px;
    font-size: 23px;
}

#dunePic {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
    height: 100%;
    width: auto;
    float: right;
    position: relative;
}

#fhDunetitle {
    display: inline-block;
    font-family: georgia;
    vertical-align: top;
    text-align: left;
    padding-left: 120px;
}
/*Hard Boiled Wonderland And The End Of The World by Haruki Murakami*/
#hmHardboiledtitle {
    display: inline-block;
    font-family: georgia;
    vertical-align: top;
}

#hardboiledban {
    height: 200px;
    width: 97%;
    background-color: #f2f2f2;
    color: #063e70;
    border-width: 3px 3px 3px 1px;
    border-color: #464647;
    border-style: solid;
    border-radius: 2px;
    font-size: 23px;
}
#hardboiledPic {
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
    height: 100%;
    width: auto;
}
/*A Light In August by William Faulkner*/
#augustban {
    height: 200px;
    width: 92%;
    background-color: #f2f2f2;
    color: #990000;
    border-width: 3px 3px 3px 1px;
    border-color: #464647;
    border-style: solid;
    border-radius: 2px;
    font-size: 23px;
}

#augustPic {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
    height: 100%;
    width: auto;
    float: right;
    position: relative;
}

#wfAugusttitle {
    display: inline-block;
    font-family: georgia;
    vertical-align: top;
    text-align: left;
    padding-left: 120px;
}
/*Frankenstein by Mary Shelley*/
#msFranktitle {
    display: inline-block;
    font-family: georgia;
    vertical-align: top;
}

#frankban {
    height: 200px;
    width: 95%;
    background-color: #f2f2f2;
    color: #404040;
    border-width: 3px 3px 3px 1px;
    border-color: #464647;
    border-style: solid;
    border-radius: 2px;
    font-size: 23px;
}
#frankPic {
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
    height: 100%;
    width: auto;
}